<div class="header-container">
  <div id="main-title">
    <a class="invisibleLink" href="index.php?site=default">
      <h1 class="main-title-header">Geomert calc</h1>
    </a>
  </div>
  <div id="main-nav">
    <nav>
      <ul>
        <li>
          <div class="dropdown">
          <a href="index.php?site=obrazce"><button class="dropbtn">Obrazce</button></a>
            <div class="dropdown-content">
              <a href="index.php?site=ctverec&folder=obrazce">Čtverec</a>
              <a href="index.php?site=trojuhelnik&folder=obrazce">Trojuhelnik</a>
              <a href="index.php?site=obdelnik&folder=obrazce">Obdelnik</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
          <a href="index.php?site=telesa"><button class="dropbtn">Tělesa</button></a>
            <div class="dropdown-content">
              <a href="index.php?site=krychle&folder=telesa">Krychle</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
